doctype html
html(lang='en')
  head
    title ViewQuestions
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/jquery.js')
    script(src='/js/popper.js')
    script(src='/js/bootstrap.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/main2.css')
    style.
        #dropdown-toggle1{
            margin:20px;
        }
        .dropdown-menu1 li{
            cursor:pointer
        }
  body
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
      p
        a.navbar-brand(href='#') QUIZAPP
      ul.navbar-nav
        li.nav-item
          p
            a.navbar-brand(href='/admin/') HOME
        li.nav-item
          p
            a.nav-link(href='#') ABOUT
        li.nav-item
          p
            a.nav-link(href='#') FAQ
    .login-block2
      .container
        h1 #{topic}
        .row
          each que, i in ques
            .dropdown#viewquesdropdown
              button.dropbtn
                | #{que.ques} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                a(href="#" ,class="btn btn-danger removeQues" data-id="#{que._id}" ) Delete
              .dropdown-content
                p #{que.op1}
                br
                p #{que.op2}
                br
                p #{que.op3}
                br
                p #{que.op4}
                br
                p ans is option :  #{que.ans}
            br
        form.addquizform(action='/admin/addquiz',method="post")
            input(type='hidden', name='quizname', value="#{topic}")
            .dropdown
                button.btn.btn-danger.dropdown-toggle#dropdown-toggle1(type="button", data-toggle="dropdown") Select Quiz Duration(in minutes)
                    span.caret
                ul.dropdown-menu.dropdown-menu1
                    li(value="1") 10
                    li(value="2") 15
                    li(value="3") 30
                    li(value="4") 60
                input(type="hidden", name='duration', id="addquesans", value="")
                br
            .dropdown
                button.btn.btn-danger.dropdown-toggle#dropdown-toggle2(type="button", data-toggle="dropdown") Select Branch
                    span.caret
                ul.dropdown-menu.dropdown-menu2
                  each branch, i in branches
                    li(value="#{branch.branch}") #{branch.branch}
                input(type="hidden", name='branch', id="addquescat", value="")
                br
            center
              button.btn.btn-danger(type='submit') Add
  script(type='text/javascript').
    $(document).ready(function(){
        $('.removeQues').click(function(e){
            deleteId=$(this).data('id');
            $.ajax({
                url:'/admin/delete/'+deleteId,
                type:'DELETE',
                success:function(data){
                        console.log(data);
                }
            });
            window.location = '/admin/addquiz/#{topic}'
        });
    });
